/* Split the screen in half */
.split-left {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color: #fff;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

  .split-left .input-box{
    position:relative; 
    bottom:20px;
  }

  .split-left h2{
    position: absolute;
    left: 90px;
    bottom: 280px;
    color: #00b796;
  }

  .split-left .password{
    position: relative;
    left: 170px;
    bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .split-left .email{
    position: absolute;
    top: 135px;
    left: 155px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .icon {
    padding: 10px;
    background: rgba(0, 183, 150,0.1);
    color: black;
    min-width: 50px;
    text-align: center;
  }

  .input-field {
    background: rgba(0, 183, 150,0.1);
    width: 360px;
    height: 20px;
    padding: 10px;
    outline: none;
    border: none;
  }

  .row{
      position: relative;
      top: 50px;
  }

  .row i.fab {  
    font-size:12px;
    border-radius: 50%;
    border: solid black;
    color: black;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    display: inline-block;
    transition:0.5s;
  }

  .row i.fab:nth-child(2){
      margin-left: 30px;
      margin-right: 30px;
  }

  ::placeholder {
      color: black;
  }

  .split-left .btn button{
    background-color: #00b796; /* Green */
    border :none;
    border-radius: 30px;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 90px;
  }
  
  .split-right {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    background-color:#00b796;
    color: white;
  }

  .split-right p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .split-right button{
    background-color: #00b796; /* Green */
    border :1px solid white;
    border-radius: 30px;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .link{
    display:none;
  }
  

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) {
    .split-right{
      display: none;
    }

    .split-left{
      width: 100%;
    }

    .input-field {
      width: 200px;
    }

    .split-left .password{
      left: 90px;
      bottom: 20px;
    }

    .split-left .email{
      top: 125px;
      left: 73px;
    }

    .split-left h2{
      position: absolute;
      left: 15px;
      bottom: 280px;
      color: #00b796;
    }

    .row{
      position: relative;
      top: 30px;
    }

    .row i.fab:nth-child(2){
      margin-left: 20px;
      margin-right: 20px;
  }

  .split-left .btn button{
    padding: 10px 60px;
    top: 60px;
  }

  .link{
    display: inline;
    position: relative;
    top: 90px;
  }

  .link a{
    color: #00b796;
  }

  .link a:hover{
    color: blue;
  }

  .split-right {
    width: 100%;
  }

  .link-right{
    margin-top: 30px;
  }
  .link-right a{
    color: black;
  }
}